/***REGLAS GENERALES***/
.marco{
    width: 320px;
    margin: auto;
    font-family: 'Lato', sans-serif;
}

header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 4;
    background-color: transparent;
    transition: ease 0.4s;
}

main{
    width: 100%;
    font-family: 'Karla', sans-serif;
}

footer{
    width: 100%;
    background-image: url(../img/history/bg-footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.logo-nav{
    width: 80%
}

.mobile_menu{
    width: 34px;
    height: 34px;
    background-color: #000;
    font-size: 16px;
}

.menu_mob{
    width: 100%;
    height: 100vh;
    background-color: #000;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2000;
    display: none;
    padding: 20px;
}

.menu_mob a{
    display: flex;
    justify-content: flex-start;
    padding: 20px 14px;
    color: #fff;
    letter-spacing: 1px;
    font-size: 18px;
}

.menu_mob a:focus{
    background-color: #c61e14;
    font-weight: bold;
}

.menu_close{
    display: flex;
    justify-content: flex-end;
    padding: 5px 6px;
    font-size: 20px;
    cursor: pointer;
}

.languages_mob{
    display: flex;
}

.menu_desktop{
    display: none;
}


.history-s1-container{
    width: 100%;
    height: 570px;
    background-image: url(../img/history/back-history-s1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.overlay{
    width: 100%;
    height: 570px;
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}


.history-s3-container{
    width: 100%;
    text-align: center;
    background-image: url(../img/history/history-s3-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.container{
    padding: 10% 5%;
}

.container01{
    padding: 0px 0px 16px 0px;
}

.container02{
    text-align: left;
    padding: 12px 0px;
    line-height: 1.3;
}
/***FIN REGLAS GENERALES***/
/***REGLAS ESPECÍFICAS***/

.logo-nav a img{
    width: 80px;
}

.languages{
    display: none;
}

/***MAIN SECTION 01***/

.history-s1-content{
    width: 100%;
    text-align: center;
    padding: 0px 6%;
    z-index: 3;
}
.history-s1-content h1{
    font-size: 28px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    background-color: #c61e14;
    transform: skew(-16deg, 0deg);
    padding: 4px 20px;
}

.history-s1-content p{
    font-size: 16px;
    line-height: 1.5;
    margin: 8% 0px;
}

iframe{
    width: 100%;
    height: 220px;
}
/*** END MAIN SECTION 01***/

/***MAIN SECTION 02***/

.history-s2-content01-image{
    width: 100%;
    height: 200px;
    text-align: center;
    background-image: url(../img/history/history-s2-content-img01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.history-s2-content01-text{
    width: 100%;
    padding: 8%;
}


.history-s2-content01-text h2{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    background-color: #c61e14;
    transform: skew(-16deg, 0deg);
    padding: 4px 20px;
}

.history-s2-content01-text p{
    font-size: 16px;
    color: #000;
    line-height: 1.5;
    margin: 8% 0px;
}

.history-s2-content02-image{
    width: 100%;
    height: 200px;
    text-align: center;
    background-image: url(../img/history/history-s2-content-img02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.history-s2-content02-text{
    width: 100%;
    padding: 8%;
}


.history-s2-content02-text h2{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    background-color: #c61e14;
    transform: skew(-16deg, 0deg);
    padding: 4px 20px;
}

.history-s2-content02-text p{
    font-size: 16px;
    color: #000;
    line-height: 1.5;
    margin: 8% 0px;
}

/***END MAIN SECTION 02***/

/***MAIN SECTION 03***/
.history-s3-content{
    width: 100%;
    margin: 0px auto;
    padding: 8%;
}

.history-s3-container h2{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    background-color: #c61e14;
    transform: skew(-16deg, 0deg);
    padding: 4px 20px;
}

    /***BOTON PRINCIPAL***/

    .main-content img {
        width: 320px;
        padding: 8% 0px;
    }

    .main-content h4{
        background-color: #c62316;
        color: #fff;
        position: relative;
        overflow: hidden;
        margin: 0px 9%;
        padding: 10px;
    }
    /***FIN BOTON PRINCIPAL***/

/***END MAIN SECTION 03***/

.footer-logos{
    width: 100%;
    padding: 10% 0px;
    display: flex;
    justify-content: center;
}

.footer-logos img{
    margin: 0px 5%;
}

.footer-logos02{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.suckerpunch{
    width: 50%;
}

.ps4{
    width: 40%;
    margin: 6% 0px;
}

.onlyon{
    width: 90%;
}

/***FIN REGLAS ESPECÍFICAS***/
/***RESPONSIVE***/
/***MOBILE 320px - 375px***/
@media screen and (min-width:320px){
    .marco{
        width: 100%;
    }

    .main-content h1 {
        margin: 34px 30px;
        font-size: 24px;
    }

    .history-s3-content {
        width: 100%;
        margin: 0px auto;
        padding: 8% 0%;
    }

    .history-s3-container h2 {
        margin: 0% 30px;
    }

    iframe{
        display: none;
    }

    .footer-logos{
        padding: 10% 0px;
    }
}
/***END MOBILE 320px - 375px***/
/***MOBILE 375px - 536px***/
@media screen and (min-width:375px){
    .menu_close{
        padding: 5px 11px;
    }

    main{
        width: 100%;
        font-family: 'Karla', sans-serif;
    }
    
    .history-s1-container{
        width: 100%;
        height: 667px;
    }
    
    .overlay{
        width: 100%;
        height: 667px;
    }

    .footer-logos{
        padding: 5% 0px;
    }

    .suckerpunch{
        width: 30%;
    }

}
/***END MOBILE 375px - 536px***/
/***MOBILE XL 710px***/
@media screen and (min-width:710px){
    .footer-logos02 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: baseline;
    }

    .footer-logos {
        display: flex;
        justify-content: center;
        padding: 0px 0px 5% 0px;
    }

    .suckerpunch{
        width: 22%;
    }

    .ps4 {
        width: 18%;
        margin: 0px 20px 0px 0px;
    }

    .onlyon {
        width: 229px;
        height: 35px;
    }

    .history-s1-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .history-s1-content {
        width: 50%;
        text-align: left;
    }

    .history-s2-container{
        display: flex;
    }

    .history-s2-content01-image{
        width: 50%;
        height: auto;
        order: 2;
    }

    .history-s2-content01-text{
        width: 50%;
        order: 1;
    }

    .history-s2-content02-image{
        width: 50%;
        height: auto;
    }

    .history-s2-content02-text{
        width: 50%;
    }

    .history-s3-content {
        width: 70%;
    }
}
/***END MOBILE XL 710px***/
/***IPAD 767px - 1016px ***/
@media screen and (min-width:767px){
    .logo-nav {
        width: 20%;
        display: flex;
        justify-content: center;
    }

    .logo-nav a img {
        width: 90px;
    }

    .mobile_menu{
        display: none;
    }

    .menu_desktop{
        width: 60%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }

    .menu_desktop a{
        font-size: 16px;
        color: #fff;
        padding: 0px 5%;
        text-transform: uppercase;
        letter-spacing: 1px;
        overflow: hidden;
        position: relative;
        line-height: 1.9;
    }

    .menu_desktop a:active{
        color: #c62316;
    }

    .languages{
        width: 20%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
    }
    .languages a{
        color: #fff;
        padding: 0px 3%;
        text-shadow: rgba(0, 0, 0, 0.05) 0 0 4px;
        font-weight: bold;
    }
    .languages a:active{
        color: #c62316;
    }
    
    .active{
        color: #c62316 !important;
    }

    .history-s1-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-attachment: inherit;
    }

    .history-s1-content {
        width: 50%;
        text-align: left;
    }

    .history-s2-container{
        display: flex;
    }

    .history-s2-content01-image{
        width: 50%;
        height: auto;
        order: 2;
    }

    .history-s2-content01-text{
        width: 50%;
        order: 1;
    }

    .history-s2-content02-image{
        width: 50%;
        height: auto;
    }

    .history-s2-content02-text{
        width: 50%;
    }

    .history-s3-container{
        background-attachment: inherit;
    }

    .history-s3-content {
        width: 90%;
    }

    .history-s3-container h2 {
        padding: 4px 0px;
        margin: 0% 20%;
    }

    .main-content h4 {
        margin: 0px 28%;
        padding: 14px;
    }

    /***FOOTER***/

    footer{
        height: 256px;
        display: flex;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container01{
        width: 50%;
    }
    .container02{
        text-align: left;
        padding: 0px;
        line-height: 1.3;
        width: 50%;
    }

    .footer-logos {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        padding: 0px 0px 5% 0px;
    }

    .footer-logos02 {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
    }

    .footer-logos img {
        margin: 0px 5% 0px 0px;
    }

    .suckerpunch{
        width: 32%;
    }

    .ps4 {
        width: 18%;
        margin: 0px 20px 0px 0px;
    }

    .onlyon {
        width: 229px;
        height: 35px;
    }
    /***END FOOTER***/
}
/***END IPAD 767px - 1016px***/
/***DESKTOP 1280px***/
@media screen and (min-width:1280px){
    .logo-nav {
        width: 20%;
        display: flex;
        justify-content: center;
    }

    .logo-nav a img {
        width: 140px;
    }

    .mobile_menu{
        display: none;
    }

    .menu_mob{
        display: none;
    }

    .menu_desktop{
        width: 60%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }

    .menu_desktop a{
        font-size: 16px;
        color: #fff;
        padding: 0px 5%;
        text-transform: uppercase;
        letter-spacing: 1px;
        overflow: hidden;
        position: relative;
        line-height: 1.9;
    }

    .menu_desktop a:active{
        color: #c62316;
    }

    .menu_desktop a:before {
        content: "";
        position: absolute;
        width: 0;
        height: 3px;
        background-color: #c62316;
        left: 45%;
        bottom: 0;
        transition: all .3s;
        opacity: 0.7;
        transform: translate(20%);
    }

    .menu_desktop a:hover:before {
        width: 70%;
        left: 0;
    }

    .languages{
        width: 20%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
    }
    .languages a{
        color: #fff;
        padding: 0px 3%;
        text-shadow: rgba(0, 0, 0, 0.05) 0 0 4px;
        font-weight: bold;
    }
    .languages a:active{
        color: #c62316;
    }
    
    .active{
        color: #c62316 !important;
    }

    /***IDIOMAS HOVER***/

    .languages a{
        color: #fff;
        padding: 0px 2%;
        text-shadow: rgba(0, 0, 0, 0.05) 0 0 4px;
        font-weight: bold;
    }

    .languages a:hover{
        color: #c62316;
        transition: all .2s;
    }

    /***FIN IDIOMAS HOVER***/

    .overlay{
        height: 720px;
    }

    iframe{
        display: block;
    }

    .main-content h4:after {
        content: '';
        position: absolute;
        top: 0;
        left: -200%;
        width: 200%;
        height: 100%;
        transform: skewX(-20deg);
        background-image: linear-gradient(to right, transparent, rgba(255,255,255,0.5), transparent);
    }
    .main-content h4:hover:after {
        animation: shine 1.6s ease;
    }
    .main-content h4:active {
        transform: translateY(1px);
    }

    @-moz-keyframes shine {
    100% {
        left: 200%;
    }
    }
    @-webkit-keyframes shine {
    100% {
        left: 200%;
    }
    }
    @-o-keyframes shine {
    100% {
        left: 200%;
    }
    }
    @keyframes shine {
    100% {
        left: 200%;
    }
    }
    
    .history-s1-container {
        width: 100%;
        height: 720px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-attachment: fixed;
    }

    .history-s1-content {
        width: 50%;
        height: 458px;
        text-align: left;
    }

    .history-s1-content h1 {
        font-size: 30px;
    }

    .history-s1-content p {
        font-size: 18px;
    }

    .history-s2-content01-text h2{
        font-size: 26px;
    }
    
    .history-s2-content01-text p{
        font-size: 18px;
    }
    
    .history-s2-content02-text h2{
        font-size: 26px;
    }
    
    .history-s2-content02-text p{
        font-size: 18px;
    }

    .history-s3-container{
        background-attachment: fixed;
    }

    .history-s3-content {
        width: 52%;
    }

    .history-s3-container h2 {
        font-size: 26px;
        margin: 0%;
    }

    .main-content img {
        padding: 5% 0px;
    }

    .main-content h4 {
        margin: 0px 18%;
        padding: 16px;
        font-size: 18px;
    }

    /***FOOTER***/

    footer{
        height: 42vh;
        display: flex;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container01{
        width: 50%;
        padding: 0px;
    }
    .container02{
        text-align: left;
        padding: 0px;
        line-height: 1.3;
        width: 50%;
        font-size: 18px;
    }

    .footer-logos {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        padding: 0px 0px 5% 0px;
    }

    .footer-logos02 {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
    }

    .footer-logos img {
        margin: 0px 5% 0px 0px;
    }

    .suckerpunch{
        width: 22%;
    }

    .ps4 {
        width: 18%;
        margin: 0px 20px 0px 0px;
    }

    .onlyon {
        width: 320px;
        height: 50px;
    }
    /***END FOOTER***/
}

/***DESKTOP 1920px***/
@media screen and (min-width:1920px){
    .overlay{
        height: 885px;
    }

    iframe{
        width: 100%;
        height: 300px;
    }

    .history-s1-container{
        height: 885px;
        background-attachment: fixed;
    }
    
    .history-s1-content{
        width: 45%;
        height: 637px;
        font-size: 40px;
    }

    .history-s1-content h1 {
        font-size: 40px;
    }
    .history-s1-content p {
        font-size: 20px;
    }

    .history-s2-content01-text h2{
        font-size: 36px;
    }
    
    .history-s2-content01-text p{
        font-size: 20px;
    }
    
    .history-s2-content02-text h2{
        font-size: 36px;
    }
    
    .history-s2-content02-text p{
        font-size: 20px;
    }

    .history-s3-container h2 {
        font-size: 36px;
    }

    .main-content img {
        padding: 8% 0px;
        width: 50%;
    }

    .main-content h4 {
        margin: 0px 24%;
        padding: 16px;
        font-size: 18px;
    }
    
    footer{
        height: 256px;
    }

    .suckerpunch{
        width: 14%;
    }

    .ps4 {
        width: 12%;
        margin: 0px 20px 0px 0px;
    }
    .onlyon {
        width: 274px;
        height: 39px;
    }

    .container{
        padding: 6% 5%;
    }

    .container02{
        font-size: 18px;
    }
}
/***FIN RESPONSIVE***/